{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="bg-[#F9FAFB] flex justify-center items-center h-screen">
    <div class="bg-white flex flex-col items-center gap-1.5 px-6 py-6 shadow">
        <img src="{{asset("/svg/registration-login/Icon.svg")}}"/>
        <h1 class="text-4xl font-bold">Connectez-vous</h1>

        <div class="flex gap-1.5">
            <p>Ou</p>
            <a href="{{path("app_register")}}" class="text-[#155DFC]">créez un compte gratuitement</a>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post">
 
        <div class="flex justify-between gap-2.5 py-2 flex-col">
            <div class="flex flex-col">
                <label for="username" class="text-[#364153]">Adresse Email</label>
                <input type="email" placeholder="  Email" value="{{ last_username }}" name="_username" id="username" class="form-control border-[#D1D5DC] border w-62 h-8 rounded-lg shadow" autocomplete="email" required autofocus>
            </div>

            <div class="flex flex-col">
                <label for="password" class="text-[#364153]">Mot de passe</label>
                <input type="password" placeholder="  Password" name="_password" id="password" class="form-control form-control border-[#D1D5DC] border w-62 h-8 rounded-lg shadow" autocomplete="current-password" required>
            </div>
            
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            <!-- <input type="hidden" name="csrf_token" data-controller="csrf-protection"> -->
            
            <button class="flex flex-col items-center justify-center text-cyan-50 bg-[#155DFC] w-62 h-8 rounded-lg shadow" type="submit">Sign in </button>
        </div>

            
        </form>
    </div>
</section>
{% endblock %}

