{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="bg-[#F9FAFB] flex justify-center items-center h-screen">
        <div class="bg-white flex flex-col items-center rounded px-6 py-6 shadow">
 
            <h1>Créez votre compte</h1>
            <p>Ou</p>
        
            {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}
            
                <div class="flex justify-between gap-4">
                    <div class="flex flex-col">    
                        {{ form_label(registrationForm.prenom)}}
                        {{ form_widget(registrationForm.prenom,{attr:{placeholder:"  Prenom", class:"border-[#D1D5DC] border w-31 h-8 rounded-lg shadow"}})}}
                    </div>

                    <div class="flex flex-col">
                        {{ form_label(registrationForm.nom)}}
                        {{ form_widget(registrationForm.nom,{attr:{placeholder:"  Nom", class:"border-[#D1D5DC] border w-31 h-8 rounded-lg shadow"}})}}    
                    </div>
                </div>
                
                <div class="flex flex-col gap-4 justify-start items-center">
                    <div class="flex flex-col">
                        {{ form_label(registrationForm.raisonSocial)}}
                        {{ form_widget(registrationForm.raisonSocial,{attr:{placeholder:"  Prenom", class:"border-[#D1D5DC] border w-62 h-8 rounded-lg shadow"}})}}
                    </div>
                            
                    <div class="flex flex-col">
                        {{ form_label(registrationForm.iban)}}
                        {{ form_widget(registrationForm.iban,{attr:{placeholder:"  FR76 1234 5678 9012 3456 7890 123", class:"border-[#D1D5DC] border w-62 h-8 rounded-lg shadow"}})}}
                    </div>
                    
                    <div class="flex flex-col">
                        {{ form_label(registrationForm.email)}}
                        {{ form_widget(registrationForm.email,{attr:{placeholder:"  contact@entreprise.fr", class:"border-[#D1D5DC] border w-62 h-8 rounded-lg shadow"}})}}
                    </div>

                    <div class="flex flex-col">
                        {{ form_label(registrationForm.plainPassword)}}
                        {{ form_widget(registrationForm.plainPassword,{attr:{placeholder:"  Password", class:"border-[#D1D5DC] border w-62 h-8 rounded-lg shadow"}})}}
                    </div>

                    <button type="submit" class="flex flex-col justify-self-center text-cyan-50 bg-[#155DFC] w-62 h-8 rounded-lg shadow">Register</button>
                </div>


                    
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
